<h1 mat-dialog-title>Producto: {{data.nombre}}</h1>
<div mat-dialog-content>
  <img [src]="data.imagenUrl" style="width: 400px; height: 400px;" alt="">
  <div>
    <p><b>Descripcion:</b> {{data.descripcion}}</p>
    <mat-form-field>
      <mat-label>Color</mat-label>
      <mat-select [value]="selectedColor" [(ngModel)]="selectedColor" name="color"
        [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let item of colors" [value]="item.id">
          {{item.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="display: flex;">

    <h1>Precio: ${{selectedProductPrice}}</h1>
    <a [routerLink]="['/add', selectedProductId]" [queryParams]="{id:selectedProductId}"
      *ngIf="isSeller() && isOwner()">
      <button (click)="closeDialog()" mat-fab color="primary" class="foot" aria-label="Example icon button with a delete icon">
        <mat-icon fontIcon="add"></mat-icon>
      </button>
    </a>
  </div>
</div>