<h1 mat-dialog-title>{{data.nombre}}</h1>
<form class="example-form" [formGroup]="updateForm" (ngSubmit)="updateUser()">

  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <!-- <input matInput [(ngModel)]="data.nombre"> -->
      <input matInput formControlName="nombre" [value]="this.user.nombre">
    </mat-form-field>

    <mat-form-field>
      <mat-label>password</mat-label>
      <!-- <input matInput [(ngModel)]="data.nombre"> -->
      <input matInput formControlName="password" [value]="this.user.password">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select [(ngModel)]="selectedRole" name="roleId" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let item of roles" [value]="item.id">
          {{item.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button type="submit" mat-raised-button color="primary">Update</button>
    </div>

  </div>
</form>